* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas: "header header header" "nav main main" "nav main main" "nav main main";
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: header;
  color: white;
  background-color: #59556d;
}
.header h1 {
  font-size: 2.2rem;
}
.header button {
  border: 0;
  background-color: #f1eef7;
  padding: 10px;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  width: 160px;
}
.header button:active {
  transform: translateY(4px);
}

nav {
  grid-area: nav;
  background-color: #d1cde6;
  display: flex;
  flex-direction: column;
}
nav .buttons, nav .projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
nav .projects {
  margin-top: 40px;
}
nav .fa-solid {
  margin-right: 10px;
}
nav button {
  border: 0;
  height: 2.7rem;
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  color: #59556d;
  font-size: 16px;
  text-align: start;
  cursor: pointer;
  background-color: #d1cde6;
  font-size: 1.1rem;
}
nav button:hover {
  background-color: #ccc7e4;
}
nav button:active, nav button:focus {
  background-color: #ccc7e4;
  font-weight: 600;
}

.main {
  grid-area: main;
  background-color: #f1eef7;
}

.hidden {
  display: none;
}

.task-popup, .project-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 0px 8px 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
}

input, textarea {
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #d1cde6;
  width: 100%;
  padding: 5px 10px;
  resize: none;
  font-size: 0.9rem;
}
input #description, textarea #description {
  height: 4rem;
}
input #title, input #date, textarea #title, textarea #date {
  height: 2rem;
}
input #date, textarea #date {
  font-size: 1rem;
}

#name {
  height: 2.2rem;
  margin-top: 6px;
}

.submit-btn {
  border: 0;
  background-color: #f1eef7;
  padding: 10px;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  margin: 15px auto;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn:active {
  transform: translateY(4px);
}

.project-container {
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  height: 230px;
  background-color: #f1eef7;
  color: #59556d;
  padding: 0 25px;
}
.project-container .remove-project {
  border: 1px solid #d1cde6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  background-color: #d1cde6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #59556d;
  font-weight: 500;
  cursor: pointer;
}
.project-container .remove-project:active {
  transform: translateY(4px);
}
.project-container .project-input {
  margin-top: 20px;
}
.project-container .center {
  margin-top: 23px;
}

.tasks-container {
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  height: 400px;
  background-color: #f1eef7;
  color: #59556d;
  padding: 5px;
}
.tasks-container .tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0 25px;
}
.tasks-container .remove-task {
  border: 1px solid #d1cde6;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  background-color: #d1cde6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #59556d;
  font-weight: 500;
  cursor: pointer;
}
.tasks-container .remove-task:active {
  transform: translateY(4px);
}/*# sourceMappingURL=styles.css.map */