$firstColour: #f1eef7; 
$secondColour: #d1cde6;
$thirdColour: #8b93cf;
$fourthColour: #59556d;

@mixin flex($direction) {
	display: flex;
    flex-direction: $direction;
	align-items: center;
	justify-content: center;
}

@mixin button {
    border: 0;
    background-color: $firstColour;  
    padding: 10px;
    border-radius: 8px;
    color: black;
    font-size: 16px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

@mixin click {
    &:active {
        transform: translateY(4px);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "header header header"
    "nav main main"
    "nav main main"
    "nav main main";
    min-height: 100vh;
}

//HEADER
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
    color: white;
    background-color: $fourthColour;
    
    h1 {
        font-size: 2.2rem;
    }

    button {
        @include button;
        @include click;
        width: 160px;
    }
}

//NAV
nav {
    grid-area: nav;
    background-color: $secondColour;
    display: flex;
    flex-direction: column;

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }

    .projects {
        @extend .buttons;
        margin-top: 40px;
    }

    .project-title-sidebar::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 130px;
        height: 2.5px;
        background: $fourthColour;
        border-radius: 10px;
        transform:translateX(-65px);
    }

    ul {
        list-style-type: none;
        @include flex(column);
        gap: 10px;
        margin-bottom: 10px;

        button {
            padding-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                background-color: #ccc7e4;
            }
    
            &:active, &:focus {
                background-color: #ccc7e4;
                font-weight: 500;
            }

            span {
                font-size: 1rem;
            }

            i {
                @extend span;
                margin-left: 25px;
            }

            .icon-task {
                display: flex;
                align-items: center;
            }
        }
    }
    

    .fa-solid {
        margin-right: 10px;
    }

    .button{
        border: 0;
        width: 250px;
        padding: 10px;
        border-radius: 8px;
        color: $fourthColour;
        text-align: start;
        cursor: pointer;
        background-color: $secondColour;
        font-size: 1.2rem;

        &:hover {
            background-color: #ccc7e4;
        }

        &:active, &:focus {
            background-color: #ccc7e4;
            font-weight: 500;
        }
    }
}

//MAIN
.main {
    grid-area: main;
    background-color: $firstColour;
}

.hidden {
    display: none;
}

.task-popup, .project-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.top {
    @include flex(row);
    gap: 7rem;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.6rem;
    color: $fourthColour;
    position: relative;

    &.underline:before {
        opacity: 1;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 130px;
        height: 2.5px;
        background: $fourthColour;
        border-radius: 10px;
        transform:translateX(-65px);
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 8px 0px 8px 150px;
    @include flex(row)
}

label {
    font-size: 1.1rem;
    font-weight: 500;
}

input, textarea {
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: $secondColour;
    width: 100%;
    padding: 5px 10px;
    resize: none;
    font-size: 0.9rem;

    #description {
        height: 4rem;
    }

    #title {
        height: 2rem;
    }

    #date {
        @extend #title;
        font-size: 1rem;
    }
}

#name {
    height: 2.2rem;
    margin-top: 6px;
}

.submit-btn {
    @include button;
    @include click;
    margin: 15px auto;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    height: 230px;
    background-color: $firstColour;
    color: $fourthColour;
    padding: 0 25px;
    
    .remove-project {
        @include click;
        border: 1px solid $secondColour;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 1.1rem;
        background-color: $secondColour;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: $fourthColour;
        font-weight: 500;
        cursor: pointer;
    }

    .project-input {
        margin-top: 20px;
    }

    .center {
        margin-top: 23px;
    }
}

.tasks-container {
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    height: 470px;
    background-color: $firstColour;
    color: $fourthColour;
    padding: 5px;

    .tasks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 0 25px;

        .radio-buttons {
            @include flex(row);
            gap: 50px;

            img {
                width: 30px;
            }
        }

        .low, .medium, .high {
            @include flex(row);
            gap: 10px;
        }
        
        p {
            @extend label;
            margin-top: 8px;
        }
    }
        
    .remove-task {
        @include click;
        border: 1px solid $secondColour;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 1.1rem;
        background-color: $secondColour;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        color: $fourthColour;
        font-weight: 500;
        cursor: pointer;
    } 
}

.task-container {
    width: 70%;
    margin: 0 auto;
}

.div-tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid $fourthColour;
    padding: 10px;
    border-radius: 10px;
}

.right-container {
    @include flex(row);
    gap: 20px;
}